:root {
	--bg: #e8e9eb;
	--bgSec: hsl(55, 15%, 86%);
	--bgDark: #b8b4a5;
	--fr: #313638;
	--main: #f7be89;
	--sec: #f06543;
	--red: #df1253;
	--white: rgb(247, 245, 240);
	--black: black;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: var(--bg);
	/* color: var(--fr); */
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
.no {
	display: none !important;
}
button {
	background-color: var(--sec);
	border-radius: 0.5vw;
	border: none;
	cursor: pointer;
}
button:hover {
	filter: contrast(110%);
}
label {
	font-size: 2rem !important;
}

/* nav */
.wave {
	position: fixed;
	top: -5vh;
	z-index: -1;
	height: 20%;
	pointer-events: none;
}

.nav > h1 {
	font-size: 3.5rem;
	margin: 0%;
	padding: 0.1vw;
}
.navText {
	z-index: 999;
	color: var(--fr);
	position: fixed;
}
.floatRight {
	float: right !important;
}
.floatLeft {
	float: left !important;
}
.accountMin {
	position: fixed;
	top: 0;
	right: 1%;
	cursor: pointer;
	display: flex;
	flex-direction: row-reverse;
}
.pfp {
	text-align: right;
	border-radius: 100%;
}

.signInButton {
	font-size: 3rem;
	margin: 0.5vw;
}
.red {
	background-color: var(--red);
	font-size: 3rem;
	position: absolute;
	bottom: 3%;
}

/* main content */
.content {
	z-index: -3;
	position: absolute;
	top: 20%;
	margin: 10vh 1vw;
}

/* sign up */

.signUpForm > * {
	margin: 0 5vw;
	font-size: 4rem;
	display: block;
}

.smallButton {
	font-size: 2.5rem;
	float: right;
	margin-top: 2vw;
	padding: 0.2vw;
}

/* modal */
.userModal {
	position: fixed;
	top: 10%;
	right: 1%;
	background-color: var(--bgDark);
	color: var(--white);
	padding: 1%;
	border-radius: 2vw;
	animation: userModal 1s;
}
.um > form > input {
	display: block;
	font-size: 2rem;
	margin: 1rem;
}
.um > form > label {
	font-size: 1.5rem !important;
}
@keyframes userModal {
	from {
		right: -50%;
	}
	to {
		right: 1%;
	}
}
.hideUserModal {
	position: fixed;
	top: 10%;
	background-color: var(--bgDark);
	color: var(--white);
	padding: 1%;
	border-radius: 2vw;
	animation: hideUserModal 1s;
	right: -50%;
}
@keyframes hideUserModal {
	from {
		right: 1%;
	}
	to {
		right: -50%;
	}
}
.choosePfp {
	border-radius: 100%;
	max-width: 20vw;
	padding: 1vh !important;
}
.choosePfp:hover {
	animation-name: grayscale;
	animation-duration: 1s;
	filter: grayscale(50%);
	filter: blur(50%);
	cursor: pointer;
}
@keyframes grayscale {
	from {
		filter: grayscale(0%);
		filter: blur(0%);
	}
	to {
		filter: grayscale(50%);
		filter: blur(50%);
	}
}
.error {
	color: var(--red);
	font-size: 2rem;
	height: 0;
}

/* main page post */
.posts {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 10px;
	width: 100%;
}
.post {
	background-color: var(--bgSec);
	border-radius: 2%;
	padding: 0.4vw;
}
.username {
	font-size: 1.5rem;
}
.date {
	opacity: 50%;
}
.new {
	font-size: 2rem;
	margin: 0 0 2vw 0;
}
.postModal {
	z-index: 5;
	left: 50%;
	transform: translate(-50%, 0);
	position: fixed;
	background-color: var(--bgDark);
	color: var(--white);
	border-radius: 2vw;
	padding: 1vw;
	display: inline;
	animation: slideMiddle 1s;
}
@keyframes slideMiddle {
	from {
		left: 0%;
		opacity: 0;
	}
	to {
		left: 50%;
		opacity: 100%;
	}
}

.hidePostModal {
	animation: slideMiddleRight 1s;
	opacity: 0;
	left: 120%;
	z-index: 5;
	transform: translate(-50%, 0);
	position: fixed;
	background-color: var(--bgDark);
	color: var(--white);
	border-radius: 2vw;
	padding: 1vw;
	display: inline;
}
@keyframes slideMiddleRight {
	from {
		left: 50%;
		opacity: 100%;
	}
	to {
		left: 120%;
		opacity: 0;
	}
}
#usernameInput {
	font-size: 2rem !important;
}

.usernameInput {
	font-size: 2.5rem;
	padding: 0.2vw;
	margin: 0;
}

.sendButton {
	font-size: 2rem !important;
	float: right;
	margin: 1vw 0 0 0;
}
.cancel {
	position: absolute;
	top: 1%;
	right: 1%;
	display: inline;
	float: right;
	cursor: pointer;
	font-size: 2.5rem;
}
.cancel:hover {
	color: var(--main);
}

.usernameInfo {
	background-color: var(--bgSec);
	float: right;
	margin: 0 5vw 0 0;
	border-radius: 1vw;
	padding: 0% 5% 0 0.5%;
	margin: 0.2% 0;
	animation-name: slideRight;
	animation-duration: 1s;
}
@keyframes slideRight {
	from {
		margin: -5% 0 0 0;
	}
	to {
		margin: 0.2% 0;
	}
}
.hide {
	opacity: 0;
	animation-name: hideDiv;
	animation-duration: 0.5s;
	background-color: var(--bgSec);
	float: right;
	border-radius: 1vw;
	padding: 0% 5% 0 0.5%;
}
@keyframes hideDiv {
	from {
		margin: 0.2% 0;
		opacity: 100%;
	}
	to {
		margin: -5% 0 0 0;
		opacity: 0%;
	}
}
