:root {
    --bg: #e8e9eb;
    --fr: #313638;
    --frSec: #e0dfd5;
    --main: #f7be89;
    --sec: #f06543;
    --red: #df1253;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--bg);
    /* color: var(--fr); */
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
.no {
    display: none !important;
}
button {
    background-color: var(--sec);
    border-radius: 0.5vw;
    border: none;
    cursor: pointer;
}
button:hover {
    filter: contrast(110%);
}
label {
    font-size: 2rem !important;
}

/* nav */
.wave {
    position: fixed;
    top: -5vh;
    z-index: -1;
    height: 20%;
    pointer-events: none;
}

.nav > h1 {
    font-size: 3.5rem;
    margin: 0%;
    padding: 0.1vw;
}
.navText {
    z-index: 999;
    color: var(--fr);
    position: fixed;
}
.floatRight {
    float: right !important;
}
.floatLeft {
    float: left !important;
}
.accountMin {
    position: fixed;
    top: 0;
    right: 1vw;
    cursor: pointer;
}
.pfp {
    width: 2.3vw;
    border-radius: 100%;
    margin: 0 0vw 0 1vw;
}
.signInButton {
    font-size: 3rem;
    top: 1%;
    right: 1%;
}
.red {
    background-color: var(--red);
    font-size: 3rem;
    position: absolute;
    bottom: 3%;
}

/* main content */
.content {
    z-index: -3;
    position: absolute;
    top: 20%;
    margin: 10vh 1vw;
}

/* sign up */

.signUpForm > * {
    margin: 0 5vw;
    font-size: 4rem;
    display: block;
}

.smallButton {
    font-size: 2.5rem;
    float: right;
    margin-top: 2vw;
    padding: 0.2vw;
}

/* modal */
.userModal {
    position: fixed;
    top: 10%;
    right: 1%;
    background-color: var(--frSec);
    padding: 1%;
    border-radius: 2vw;
}
.userModal > input {
    display: block;
    font-size: 2rem;
    margin: 1xrem;
}
.userModal > label {
    font-size: 1.5rem !important;
}
.choosePfp {
    border-radius: 100%;
    max-width: 20vw;
}
.choosePfp:hover {
    filter: grayscale(80%);
    cursor: pointer;
}
